@page "/about"

<PageTitle>About</PageTitle>

<h1>About the project</h1>

<p class="mb-0 mt-4">
    A simple task manager designed with Blazor (Asp.Net Core)
    that compiles down to WASM (Web Assembly).
</p>

<p class="mb-0 mt-2">
    This is done in order to run C# code in a browser.
</p>
