@page "/"

<PageTitle>Index</PageTitle>

<form>
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="m-0 input-group-text" @onclick="addNewTask" @onclick:preventDefault="true">
                Add Task
            </button>
        </div>

        <input type="text" class="form-control" placeholder="Type in a new task" @bind="taskInput" />
    </div>
</form>

<ul class="list-group mt-3">
    @foreach (var task in tasks)
    {
        <li class="list-group-item p-3">
            <h3>@task.Title</h3>
            <div>
                <input type="checkbox" @bind="task.IsDone" />
                <span>Done</span>
            </div>

            <p class="mb-0 mt-4">@(task.IsDone ? "Task is done!" : "This task is currently not done")</p>
        </li>
    }
</ul>

@code {
    public class Task
    {
        public string? Title { get; set; }
        public bool IsDone { get; set; }
    }

    public string taskInput = "";
    private List<Task> tasks = new List<Task>();

    void addNewTask()
    {
        if (!string.IsNullOrWhiteSpace(taskInput))
        {
            tasks.Add(new Task { Title = taskInput });
            taskInput = "";
        }
    }
}